@charset "UTF-8";
/* CSS Document */

body {
	background-color:#F5F5F5;
	
	}

#content {
	display:block;
	position:relative;
	width:1020px;
	margin:0 auto;
	z-index:1;
}
#banner_home {
	display:block;
	position:relative;
	width:624px;
	height:325px;
	z-index:2;
	float:left;
	margin-top:0px;
	margin-left:23px;
}
.banner_home2 {
	width:940px;
	height:100px;
	display:block;
	position:relative;
	margin-left:40px;
	margin-top:20px;
	margin-bottom:30px;
	float:left;
}
#container {
	position:absolute;
	display:block;
	width:624px;
	height:325px;
	top:0px;
	left:17px;
	z-index:4;
}
#slides {
	position:absolute;
	display:block;
	width:590px;
	height:305px;
	top:0px;
	left:0px;
	z-index:100;
}
.slides_container {
	width:590px;
	overflow:hidden;
	position:relative;
	display:none;
}
.slides_container div.slide {
	width:590px;
	height:305px;
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	width:14px;
	height:83px;
	display:block;
	z-index:1;
}

#slides .prev {
	left:-17px;
}

#slides .next {
	right:-17px;
}


.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0px;
	padding-top:12px;
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

#pestana {
width:100%;
height:30px;
position:relative;
float:left;
margin: 0px;
padding:0px;
border-radius:4px 4px 4px 4px;
box-shadow: 1px 1px 3px 1px rgb(136, 136, 136);
z-index:3;
text-align:center;
/* GRADIENTE */
  background-color: #FFFFFF;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#B4B4B4));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* W3C */
  background: linear-gradient(top, #FFFFFF 0%,#B4B4B4 100%);
  /* IE7 IE8 */
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#B4B4B4');
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#B4B4B4');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#B4B4B4',GradientType=0);
	behavior: url(js/PIE.htc);
}

#pestana2 {
width:100%;
height:30px;
position:relative;
float:none;
font-size:14px;
line-height:29px;
font-weight:bold;
color:#666666;
margin: 0px;
padding:0px;
border-radius:4px;
box-shadow: 1px 1px 3px 1px rgb(136, 136, 136);
z-index:3;
text-align:center;
/* GRADIENTE */
  background-color: #FFFFFF;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#B4B4B4));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FFFFFF, #B4B4B4);
	/* W3C */
  background: linear-gradient(top, #FFFFFF 0%,#B4B4B4 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#B4B4B4');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#B4B4B4',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#B4B4B4');
  	behavior: url(js/PIE.htc);
}
#contenedor_noticias {
	position:relative;
	display:block;
	width:300px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
	margin-left:40px;
	margin-bottom:20px;
}
.modulos {
	width:300px;
	height:auto;
	display:block;
	background-color:#FFF;
	float:left;
	position:relative;
	margin-bottom:6px;
}
#titulo_noticia {
	width:245px;
	height:auto;
	display:block;
	font-size:14px;
	line-height:19px;
	color:#CCA529;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-top:10px;
}
#fecha_noticia {
	width:245px;
	height:10px;
	display:block;
	font-size:10px;
	line-height:12px;
	color:#000;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-top:6px;
}
#contenido_noticia {
	width:245px;
	height:auto;
	display:block;
	font-size:12px;
	line-height:16px;
	color:#636363;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-top:8px;
	margin-bottom:12px;
}
#nav_noticias{
	width:300px;
	height:20px;
	position:relative;
	display:block;
	float:left;
	margin:0 auto;
}
#boton-prev {
	font-size:12px;
	line-height:14px;
	color:#FFF;
	display:inline-block;
	text-align:center;
	border-radius:4px 4px 4px 4px;
	behavior: url(js/PIE.htc);
	border:solid 0px;
	position:absolute;
	top:7px;
	left:7px;
	z-index:5;
	
}
#boton-next{
	font-size:12px;
	line-height:14px;
	color:#FFF;
	display:inline-block;
	text-align:center;
	border-radius:4px 4px 4px 4px;
	behavior: url(js/PIE.htc);
	border:solid 0px;
	position:absolute;
	top:7px;
	right:7px;
	z-index:5;
}
#boton-prev a:link, #boton-prev a:visited, #boton-prev a:active {
	width:25px;
	height:15px;
	text-decoration:none;
	color:#FFF;
	font-size:12px;
	line-height:14px;
	text-align:center;
	display:block;
	border-radius:4px 4px 4px 4px;
	border:solid 0px;
	font-weight:lighter;
		/* GRADIENTE */
  background-color: #999999;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#999999));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FFFFFF, #999999);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FFFFFF, #999999);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FFFFFF, #999999);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FFFFFF, #999999);
	/* W3C */
  background: linear-gradient(top, #FFFFFF 0%,#999999 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#999999');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#999999',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#B4B4B4');
behavior: url(js/PIE.htc);
}
#boton-next a:link, #boton-next a:visited, #boton-next a:active {
	width:25px;
	height:15px;
	text-decoration:none;
	color:#FFF;
	font-size:12px;
	line-height:14px;
	text-align:center;
	display:block;
	border-radius:4px 4px 4px 4px;
	border:solid 0px;
	font-weight:lighter;
		/* GRADIENTE */
  background-color: #999999;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#999999));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FFFFFF, #999999);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FFFFFF, #999999);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FFFFFF, #999999);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FFFFFF, #999999);
	/* W3C */
  background: linear-gradient(top, #FFFFFF 0%,#999999 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#999999');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#999999',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FFFFFF', EndColorstr='#999999');
behavior: url(js/PIE.htc);

}

#boton-prev a:hover, #boton-next a:hover{
	width:25px;
	height:15px;
	text-decoration:none;
	color:#FFF;
	line-height:14px;
	font-size:12px;
	text-align:center;
	display:block;
	font-weight:lighter;
	border-radius:4px 4px 4px 4px;
	border:solid 0px;
		/* GRADIENTE */
  background-color: #F4BF2A;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4BF2A), to(#B0781A));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F4BF2A, #B0781A);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F4BF2A, #B0781A);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F4BF2A, #B0781A);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F4BF2A, #B0781A);
	/* W3C */
  background: linear-gradient(top, #F4BF2A 0%,#B0781A 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4BF2A', endColorstr='#B0781A',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
behavior: url(js/PIE.htc);

}

#twitter {
	width:300px;
	height:600px;
	display:block;
	position:relative;
	margin-left:18px;
	float:left;
	text-align:left;
}
#banner3 {
	width:300px;
	height:224px;
	position:relative;
	float:left;
	margin-left:18px;
	margin-bottom:18px;
}
#banner4 {
	width:300px;
	height:360px;
	position:relative;
	float:left;
	margin-left:18px;
}
#separador {
	width:1020px;
	height:67px;
	display:block;
	position:relative;
	float:none;
	clear:both;
	margin:0px;
	padding:0px;
}

#separador1 {
	width:1020px;
	height:270px;
	display:block;
	position:relative;
	float:none;
	margin:0 auto;
	clear:both;
	z-index:0;
	
	
}

#separador3 {
	width:1020px;
	height:290px;
	display:block;
	position:relative;
	float:none;
	margin:0 auto;
	clear:both;
	z-index:0;
	
	
}

#boton_x {
	font-size:12px;
	line-height:14px;
	color:#300;
	margin:0px;
	display:inline-block;
	text-align:center;
	border-radius:5px;
	border:solid 0px;
	position:absolute;
	top:4px;
	right:6px;
	z-index:5;
}
#boton_x a:link, #boton_x a:visited, #boton_x a:active {
	width:17px;
	height:13px;
	text-decoration:none;
	margin:0px;
	color:#300;
	font-size:12px;
	line-height:14px;
	text-align:center;
	padding-bottom:4px;
	display:block;
	border-radius:5px 5px 5px 5px;
	border:solid 0px;
	font-weight:lighter;
		/* GRADIENTE */
  background-color: #9D0000;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF0000), to(#9D0000));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FF0000, #9D0000);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FF0000, #9D0000);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FF0000, #9D0000);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FF0000, #9D0000);
	/* W3C */
  background: linear-gradient(top, #FF0000 0%,#9D0000 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF0000', EndColorstr='#9D0000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#9D0000',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
behavior: url(js/PIE.htc);

}
#boton_x a:hover {
	width:17px;
	height:13px;
	text-decoration:none;
	margin:0px;
	color:#FFFFFF;
	font-size:12px;
	line-height:14px;
	padding-bottom:4px;
	text-align:center;
	display:block;
	border-radius:5px 5px 5px 5px;
	border:solid 0px;
	font-weight:lighter;
		/* GRADIENTE */
  background-color: #9D0000;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF0000), to(#9D0000));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FF0000, #9D0000);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FF0000, #9D0000);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FF0000, #9D0000);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FF0000, #9D0000);
	/* W3C */
  background: linear-gradient(top, #FF0000 0%,#9D0000 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF0000', EndColorstr='#9D0000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#9D0000',GradientType=0);
   -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF0000', EndColorstr='#9D0000');
behavior: url(js/PIE.htc);

}

