@charset "UTF-8";
/* CSS Document */
html, body {
	margin:0px;
	padding:0px;
}

#texto2 {
	width:450px;
	height:37px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	position:absolute;
	float:left;
	color:#339900;
	top:245px;
	left:42px;
}

ol {
	color:#11FF2C;
	list-style-type:decimal;
	margin-left:-16px;
	font-size:18px;
}
ol li {
	padding:0px;
	margin:0px;
	
}
.lista2 {
	text-align:left;
	font-weight:normal;
	padding:0px;
	color:#666;
	display:inline;
	font-size:12px;
}

#archivos2 {
width:344px;
height:180px;
position:absolute;
top:230px;
right:0px;
}

#barra_derecha {
	position:relative;
	float:right;
	width:330px;
	margin:0px;
	padding:0px;

}
#barra_derecha2 {
	position:relative;
	float:right;
	width:330px;
	margin:0px;
	padding:0px;
	margin-top:-140px;

}
#banner5 {
	width:300px;
	position:relative;
	float:left;
	margin-left:18px;
}
#lineag2 {
	width:100%;
	height:10px;
	position:relative;
	float:left;
	margin-bottom:5px;
	background-image:url(../img/linea.png);
	background-repeat:repeat-x;
}


#pestana5 {
width:100%;
height:30px;
position:relative;
color:#666666;
float:left;
margin:0px;
padding:0px;
z-index:3;
text-align:center;
}
	
	
#mapa {
width:468px;
height:415px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
float:left;
margin-left:40px;
position:relative;
color:#666666;
display:block;
margin-bottom:30px;
background-image:url(../img/mapa.png);
background-repeat:no-repeat;
background-position:right;
	
}

#contacto1 {
	width:462px;
	height:415px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	position:relative;
	padding:0px;
	float:left;
	color:#666666;
	margin-left:0px;
	margin-bottom:30px;

}

#separador4 {
	width:1020px;
	height:300px;
	display:block;
	position:relative;
	float:none;
	z-index:0;
	margin:0 auto;
	
}
#contenedorinput2 {
width:464px;
position:relative;
float:left;
border:solid #B4B4B4 thin;
border-radius:5px 5px 5px 5px;
background-color:#EAEFE8;
z-index:1;
line-height:14px;
display:block;
	behavior: url(js/PIE.htc);
		

}

.relleno_corto2 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:relative;
	float:right;
	margin-right:144px;
	margin-left:15px;
	width:200px;
	border-radius:4px;
	height:17px;
}
#tel{
	position:absolute;
	top:-82px;
	right:-29px;
	background-image:url(../img/tel.png);
	background-position:left;
	width:200px;
	height:136px;
	display:block;
	z-index:5;
}


.relleno_textarea2 {
	font-size:12px;
	color:#333;
	position:relative;
	float:right;
	margin-right:145px;
	border-radius:4px 4px 4px 4px;
	height:84px;
	width:200px;
	max-width:215px;
	max-height:84px;
	overflow:visible;
	behavior: url(js/PIE.htc);
	
}

.textformulario2 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:lighter;
	color:#999999;
	padding:0px;
	margin-left:15px;
	text-align:left;
	line-height:13px;
	display:inline-block;
}

.textformulario3 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:lighter;
	color:#999999;
	padding:0px;
	margin-left:15px;
	text-align:right;
	line-height:13px;
	display:inline-block;
}
.celda_f {
	display:inline-block;
	margin-left:16px;
	font-size:13px;
	line-height:10px;
	padding-bottom:8px;
	text-align:left;
	color:#4E7248;
	height:15px;
}
#cuadro {
	display:block;
	position:absolute;
	bottom:3px;
	left:0px;
	width:214px;
	height:158px;
	z-index:6;
}

#punto1, #punto2, #punto3, #punto4, #punto5, #punto6 {
	position:absolute;
	width:12px;
	height:12px;
	background-image:url(../img/punto1.png);
	background-repeat:no-repeat;
	z-index:5;
}

#punto1 {
	top:75px;
	left:207px;
}

#punto2 {
	top:78px;
	left:147px;
}

#punto3 {
	top:82px;
	left:340px;
}

#punto4 {
	top:60px;
	left:244px;
}

#punto5 {
	top:60px;
	left:57px;
}

#punto6 {
	top:154px;
	left:415px;
}
#punto1 a:link, #punto1 a:visited, #punto1 a:active, #punto2 a:link, #punto2 a:visited, #punto2 a:active, #punto3 a:link, #punto3 a:visited, #punto3 a:active, #punto4 a:link, #punto4 a:visited, #punto4 a:active, #punto5 a:link, #punto5 a:visited, #punto5 a:active, #punto6 a:link, #punto6 a:visited, #punto6 a:active {
	position:absolute;
	width:12px;
	height:12px;
	background-image:url(../img/punto1.png);
	background-repeat:no-repeat;
}
#punto1 a:hover, #punto2 a:hover, #punto3 a:hover, #punto4 a:hover, #punto5 a:hover, #punto6 a:hover {
	position:absolute;
	width:12px;
	height:12px;
	background-image:url(../img/punto2.png);
	background-repeat:no-repeat;
}
#cuadro1 {
	margin:0px;
	padding:0px;
	display:block;
	width:200px;
	height:146px;
	padding-top:12px;
	background-color:#D1E3D5;
}
.c {
	font-size:13px;
	line-height:16px;
	color:#4F6B52;
	display:block;
	margin-bottom:12px;
	margin-top:0px;
	padding:0px;
}
.direccion {
	position:relative;
	display:block;
	width:182px;
	padding:0px;
	margin-left:17px;
	margin-right:5px;
	margin-top:0px;
	font-size:11px;
	line-height:14px;
	color:#666;
	overflow:hidden;
}
.negro {
	color:#000000;
}
.gris_oscuro {
	color:#333;
}
.blanco {
	color:#FFFFFF;
}
#titulo_e {
	display:block;
	font-size:14px;
	line-height:19px;
	color:#CCA529;
	margin-top:0px;
	margin-bottom:10px;
}
#texto3 {
width:618px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-left:40px;
padding:0px;

	
}

.cont_text {
width:508px;
display:block;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-left:6px;
padding:0px;

	
}
.subtitulo {
	font-size:12px;
	font-weight:normal;
}
#anios {
	text-indent:8px;
	float:left;
	color:#339900;
	font-size:28px;
	margin-left:0px;
	margin-bottom:30px;
	padding-top:0px;
	height:50px;
	position:relative;
	display:block;
	width:76px;
	line-height:28px;
	margin-top:0px;


}
#modulos2 {
	width:638px;
	height:auto;
	display:block;
	float:left;
	position:relative;
	margin-bottom:6px;
}
#contenedor_aliados1 {
	width:620px;
	display:block;
	position:relative;
	float:left;
	margin-left:40px;
	margin-top:-140px;
	z-index:2;
	
}
	
#parrafo {
width:250px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-top:14px;
  margin-left:14px;
padding:20px;
background-color:#FFF;
border-radius:4px 4px 4px 4px;
behavior: url(js/PIE.htc);
	
}
	
#parrafo1 {
width:250px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-top:14px;
margin-left:40px;
padding:20px;
background-color:#FFF;
border-radius:4px 4px 4px 4px;
behavior: url(js/PIE.htc);
	
}
	
#parrafo2 {
width:260px;
height:480px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-top:14px;
margin-left:14px;
padding:20px;
background-color:#FFF;
border-radius:4px 4px 4px 4px;
behavior: url(js/PIE.htc);
	
}
	
#parrafo2-1 {
width:260px;
height:480px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-top:14px;
margin-left:0px;
padding:20px;
background-color:#FFF;
border-radius:4px 4px 4px 4px;
behavior: url(js/PIE.htc);
	
}
	
#parrafo3 {
width:600px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-top:-140px;
margin-left:40px;
padding:0px;
background-color:#FFF;
border-radius:4px 4px 4px 4px;
behavior: url(js/PIE.htc);
	
}
	
#parrafo3-1 {
width:600px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-top:14px;
margin-left:40px;
padding:0px;
background-color:#FFF;
border-radius:4px 4px 4px 4px;
behavior: url(js/PIE.htc);
	
}
#titulo_noticia2 {
	width:380px;
	height:auto;
	display:block;
	font-size:16px;
	line-height:20px;
	color:#CCA529;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-top:10px;
}
#titulo_noticia3 {
	width:420px;
	height:auto;
	display:block;
	font-size:21px;
	line-height:25px;
	font-weight:bold;
	color:#CCA529;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-top:20px;
	margin-bottom:10px;
}
#fecha_noticia2 {
	width:245px;
	height:10px;
	display:block;
	font-size:11px;
	line-height:12px;
	color:#000;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-top:6px;
}
#contenido_noticia2 {
	width:550px;
	height:auto;
	display:block;
	font-size:12px;
	line-height:16px;
	color:#636363;
	overflow:hidden;
	float:left;
	margin-left:30px;
	margin-top:8px;
	margin-bottom:12px;
}
#creditos {
	font-size:11px;
	margin:0px;
	padding:0px;
	font-style:italic;
	color:#F60;
	text-align:left;
	
	
}
#categoria_fiscal {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:67px;
	display:block;
	background-image:url(../img/fiscal.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#categoria_laboral {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:67px;
	display:block;
	background-image:url(../img/laboral.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#categoria_legal {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:67px;
	display:block;
	background-image:url(../img/legal.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#categoria_contable {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:67px;
	display:block;
	background-image:url(../img/contable.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#categoria_fiscal2 {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:2px;
	display:block;
	background-image:url(../img/fiscal.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#categoria_laboral2 {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:2px;
	display:block;
	background-image:url(../img/laboral.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#categoria_legal2 {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:2px;
	display:block;
	background-image:url(../img/legal.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#categoria_contable2 {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:2px;
	display:block;
	background-image:url(../img/contable.jpg);
	background-repeat:repeat-x;
	background-position:top;
	z-index:0;
}
#laboral {
	position:absolute;
	top:0px;
	right:0px;
	width:96px;
	height:67px;
	background-image:url(../img/laboral.png);
	background-repeat:no-repeat;
	z-index:5;
}
#legal {
	position:absolute;
	top:0px;
	right:0px;
	width:96px;
	height:67px;
	background-image:url(../img/legal.png);
	background-repeat:no-repeat;
	z-index:5;
}
#contable {
	position:absolute;
	top:0px;
	right:0px;
	width:96px;
	height:67px;
	background-image:url(../img/contable.png);
	background-repeat:no-repeat;
	z-index:5;
}
#fiscal {
	position:absolute;
	top:0px;
	right:0px;
	width:96px;
	height:67px;
	background-image:url(../img/fiscal.png);
	background-repeat:no-repeat;
	z-index:5;
}
#diez {
	font-size:10px;
	line-height:13px;
}
#contenedor_noticias2 {
	position:relative;
	display:block;
	width:300px;
	height:auto;
	margin:0px;
	padding:0px;
	float:left;
	margin-left:14px;
	margin-bottom:0px;
}