@charset "UTF-8";
/* CSS Document */

	#textocomofunciona{
width:940px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position:relative;
float:left;
color:#666666;
margin-left:40px;
margin-top:-150px;
padding:0px;

	}
	
.imagencomofunciona {
width:auto;
height:auto;
position:relative;
float:left;
margin:0px;
margin-bottom:23px;
padding:0px;
}

#textopeqcomofunciona {
	width:450px;
	height:37px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	position:relative;
	float:left;
	color:#339900;
	margin:0px;
	padding:0px;
}

#lineacomofunciona {
width:940px;
height:2px;
position:relative;
float:left;
margin:0px;
margin-bottom:24px;
padding:0px;
background-image:url(../img/linea.png);
background-repeat:repeat-x;
}

.listterminos {
	
	width:518px;
	height:auto;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	list-style:upper-roman;
	color:#666;
	
}

.numeroterminos {
	
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
position:relative;
float:left;
margin:0px;
padding:0px;
margin-bottom:10px;
width:518px;
margin-left:35px;

}

#sub_epreguntas {
	display:block;
	font-size:12px;
	line-height:19px;
	color:#666;
	margin-top:10px;
	margin-bottom:10px;
	
}
 
	