@charset "UTF-8";
/* CSS Document */

#contenedorformulario {
width:620px;
position:relative;
float:left;
margin:0px;
margin-left:40px;
padding:0px;
z-index:2;
display:block;
}
#contenedorinput {
width:620px;
height:auto;
position:relative;
float:left;
border:solid #B4B4B4 thin;
border-radius:5px 5px 5px 5px;;
background-color:#EAEFE8;
z-index:1;
display:block;

}


#pestanaformulario {
width:160px;
height:25px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
color:#FFF;
line-height:22px;
text-align:center;
position:relative;
float:left;
margin: 0px;
margin-left:3px;
padding:0px;
border-radius:4px 4px 0px 0px;
box-shadow: 1px 1px 3px 1px rgb(136, 136, 136);
z-index:0;
	/* GRADIENTE */
  background-color: #CFE3BF;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CFE3BF), to(#7AA077));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #CFE3BF, #7AA077);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #CFE3BF, #7AA077);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #CFE3BF, #7AA077);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #CFE3BF, #7AA077);
	/* W3C */
  background: linear-gradient(top, #CFE3BF 0%,#7AA077 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#CFE3BF', EndColorstr='#7AA077');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFE3BF', endColorstr='#7AA077',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#CFE3BF', EndColorstr='#7AA077');
  	behavior: url(js/PIE.htc);
}



.textformulario {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:lighter;
	color:#999999;
	padding:0px;
	margin-left:14px;
}

.textcheckbox {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:lighter;
	color:#999999;
	padding:0px;
	margin-left:14px;
	margin-right:0px;
	
}


.relleno_textarea{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:relative;
	float:right;
	margin-right:180px;
	border-radius:4px 4px 4px 4px;
	height:40px;
	width:260px;
	max-width:235px;
	max-height:40px;
	overflow:visible;
	
}


.relleno {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:relative;
	float:right;
	margin-right:180px;
	width:235px;
	border-radius:4px 4px 4px 4px;
	height:17px;
}



.relleno1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:absolute;
	right:180px;
	width:180px;
	border-radius:4px 4px 4px 4px;
	height:17px;
	
}

.relleno5 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:relative;
	float:right;
	margin-right:200px;
	width:215px;
	border-radius:4px 4px 4px 4px;
	height:17px;
	
}

.relleno_corto {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:relative;
	float:right;
	margin-right:330px;
	width:85px;
	border-radius:4px 4px 4px 4px;
	height:17px;
}


.seleccion {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	position:relative;
	float:right;
	margin-right:320px;
	padding:0px;
	width:100px;
	border-radius:4px 4px 4px 4px;
	height:22px;
}
	
	.seleccion1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	position:relative;
	float:right;
	margin-right:375px;
	padding:0px;
	width:45px;
	height:22px;
	border-radius:4px 4px 4px 4px;
	}
	

	
	.domicilio {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	width:163px;
	left:200px;
	color:#666;
	border-radius:4px 4px 4px 4px;
	height:22px;
	
	
	}	
	

	
	.mes {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	width:90px;
	left:200px;
	color:#666;
	border-radius:4px 4px 4px 4px;
	height:22px;
	
	
	}
	

	
	.ano {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	width:63px;
	left:300px;
	color:#666;
	border-radius:4px 4px 4px 4px;
	height:22px;
	
	
	}
	
		.activoscirculante {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	width:220px;
	left:200px;
	color:#666;
	border-radius:4px 4px 4px 4px;
}


h5 {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#646464;
margin:0px;
margin-left:14px;
margin-top:10px;
padding:0px;

}

h6 {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
color:#666666;
margin:0px;
text-align:center;
line-height:26px;
padding:0px;
}


	
	.box {
	position:relative;
	float:left;
	margin:0px;
	margin-left:14px;
	padding:0px;
	margin-top:2px;
	
	}
	
	.terminos {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FF9732;
	padding:0px;
	margin-left:0px;
	text-decoration:none;
	
		}
	
	.terminos a:link, .terminos a:visited, .terminos a:active {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FF9732;
	padding:0px;
	margin-left:0px;
	text-decoration:none;
	
	}
	
	.terminos a:hover {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#11E82C;
	padding:0px;
	margin-left:0px;
	text-decoration:none;
	
	}


.botoninput {
	
	width:62px;
	height:22px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	line-height:18px;
	position:relative;
	float:none;
	margin:0 auto;
	border:0px;
	border-radius:4px 4px 4px 4px;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	padding-bottom:4px;
	
		/* GRADIENTE */
  background-color: #FF9732;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9732), to(#754C24));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FF9732, #754C24);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FF9732, #754C24);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FF9732, #754C24);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FF9732, #754C24);
	/* W3C */
  background: linear-gradient(top, #FF9732 0%,#754C24 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF9732', EndColorstr='#B0992A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9732', endColorstr='#754C24',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF9732', EndColorstr='#B0992A');
	behavior: url(js/PIE.htc);
}


.botoninput:hover  {
	
	width:62px;
	height:22px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	line-height:18px;
	border-radius:4px 4px 4px 4px;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	padding-bottom:4px;
	cursor:pointer;
	
		/* GRADIENTE */
  background-color: #F4BF2A;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4BF2A), to(#B0781A));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F4BF2A, #B0781A);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F4BF2A, #B0781A);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F4BF2A, #B0781A);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F4BF2A, #B0781A);
	/* W3C */
  background: linear-gradient(top, #F4BF2A 0%,#B0781A 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4BF2A', endColorstr='#B0781A',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
   behavior: url(js/PIE.htc);
}

.botoninputpagar {
	
	width:62px;
	height:22px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	line-height:18px;
	position:relative;
	float:none;
	margin:0 auto;
	border:0px;
	border-radius:4px 4px 4px 4px;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	padding-bottom:4px;
	margin-left:195px;
	
		/* GRADIENTE */
  background-color: #FF9732;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9732), to(#754C24));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FF9732, #754C24);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FF9732, #754C24);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FF9732, #754C24);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FF9732, #754C24);
	/* W3C */
  background: linear-gradient(top, #FF9732 0%,#754C24 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF9732', EndColorstr='#B0992A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9732', endColorstr='#754C24',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF9732', EndColorstr='#B0992A');
	behavior: url(js/PIE.htc);
}


.botoninputpagar:hover  {
	
	width:62px;
	height:22px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	line-height:18px;
	border-radius:4px 4px 4px 4px;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	padding-bottom:4px;
	cursor:pointer;
	
		/* GRADIENTE */
  background-color: #F4BF2A;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4BF2A), to(#B0781A));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F4BF2A, #B0781A);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F4BF2A, #B0781A);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F4BF2A, #B0781A);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F4BF2A, #B0781A);
	/* W3C */
  background: linear-gradient(top, #F4BF2A 0%,#B0781A 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4BF2A', endColorstr='#B0781A',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
   behavior: url(js/PIE.htc);
}

.botoninput2 {
	
	width:48px;
	height:22px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	line-height:18px;
	position:relative;
	float:none;
	margin:0 auto;
	margin-bottom:20px;
	padding-bottom:4px;
	border:0px;
	border-radius:4px 4px 4px 4px;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	vertical-align:middle;
	
		/* GRADIENTE */
  background-color: #FF9732;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9732), to(#754C24));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FF9732, #754C24);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FF9732, #754C24);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FF9732, #754C24);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FF9732, #754C24);
	/* W3C */
  background: linear-gradient(top, #FF9732 0%,#754C24 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF9732', EndColorstr='#B0992A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9732', endColorstr='#B0992A',GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF9732', EndColorstr='#B0992A');
   behavior: url(js/PIE.htc);	
}

.botoninput2:hover  {
	
	width:48px;
	height:22px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	line-height:18px;
	padding-bottom:4px;
	border-radius:4px 4px 4px 4px;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	vertical-align:middle;
	cursor:pointer;
	
		/* GRADIENTE */
  background-color: #F4BF2A;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4BF2A), to(#B0781A));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F4BF2A, #B0781A);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F4BF2A, #B0781A);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F4BF2A, #B0781A);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F4BF2A, #B0781A);
	/* W3C */
  background: linear-gradient(top, #F4BF2A 0%,#B0781A 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4BF2A', endColorstr='#B0781A',GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
   behavior: url(js/PIE.htc);
}








	
