@charset "UTF-8";
/* CSS Document */

body, html {
margin:0px;
padding:0px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}
#header {
width:1020px;
height:335px;
position:relative;
float:left;
margin:0px;
padding:0px;
}

#verdebackground {
width:1020px;
height:106px;
background-image:url(../img/menuverde.png);
background-repeat:repeat-x;
position:relative;
float:left;
margin:0px;
padding:0px;
z-index:0;
}

#contenedorelementosverde{
width:750px;
height:106px;
position:relative;
float:left;
margin:0px;
margin-left:269px;
padding:0px;

}
#contenedorlogos {
width:134px;
height:32px;
position:relative;
float:left;
margin-left:43px;
margin-top:35px;
z-index:3;

}
#facebook {
width:32px;
height:32px;
position:relative;
float:left;
margin:0px;
padding:0px;
}

#twitter {
width:32px;
height:32px;
position:relative;
float:left;
margin:0px;
margin-left:19px;
padding:0px;

}

#youtube {
width:32px;
height:32px;
position:relative;
float:left;
margin:0px;
margin-left:19px;
padding:0px;

}
#contenedorusuario {
width:350px;
height:42px;
position:relative;
float:left;
margin-top:35px;
margin-left:48px;
}

#loginuser {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	width:130px;
	border-radius:4px;
	
}
	
	#passwordusu {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	margin-left:10px;
	width:130px;
	border-radius:4px;

}
	.ingresar{
	width:62px;
	height:22px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	line-height:18px;
	text-align:center;
	position:relative;
	float:right;
	margin:0px;
	padding:0px;
	border-radius:4px;
	font-weight:lighter;
	text-decoration:none;
	display:block;
	}
	
.ingresar a:link, .ingresar a:visited, .ingresar a:active {
	width:62px;
	height:22px;
	text-decoration:none;
	background-color:#3FF;
	line-height:18px;
	text-align:center;
	border-radius:4px;
	display:block;
	color:#FFF;
	/* GRADIENTE */
  background-color: #FF9732;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9732), to(#754C24));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #FF9732, #754C24);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #FF9732, #754C24);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #FF9732, #754C24);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #FF9732, #754C24);
	/* W3C */
  background: linear-gradient(top, #FF9732 0%,#754C24 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#FF9732', EndColorstr='#B0992A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9732', endColorstr='#754C24',GradientType=0);
  
	
	
				

	
}
		
.ingresar a:hover {
	width:62px;
	height:22px;
	text-decoration:none;
	color:#FFF;
	line-height:18px;
	text-align:center;
	display:block;
		/* GRADIENTE */
  background-color: #F4BF2A;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4BF2A), to(#B0781A));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F4BF2A, #B0781A);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F4BF2A, #B0781A);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F4BF2A, #B0781A);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F4BF2A, #B0781A);
	/* W3C */
  background: linear-gradient(top, #F4BF2A 0%,#B0781A 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F4BF2A', EndColorstr='#B0781A');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4BF2A', endColorstr='#B0781A',GradientType=0);
		
	
			}
	
	#olvidocontrasena {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	width:130px;
	height:15px;
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:150px;
	padding:0px;
	color:#C6C6C6;
	}
	
	
		#olvidocontrasena a:link, #olvidocontrasena a:visited, #olvidocontrasena a:active {
	color:#C6C6C6;
	text-decoration:none;
	
		}
		
			#olvidocontrasena a:hover {
	color:#FFF;
	text-decoration:none;
	
			}

	
	#registrate {
width:110px;
height:55px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15px;
line-height:30px;
color:#FFF;
position:relative;
float:right;
margin:0px;
padding:0px;
margin-right:21px;
background-image:url(../img/registrate.png);
z-index:2;
display:block;
	}
	



	
#registrate a:link, #registrate a:visited, #registrate a:active {
width:110px;
height:55px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15px;
line-height:30px;
text-decoration:none;
display:block;
color:#FFF;
text-align:center;
position:relative;
float:right;
margin:0px;
padding:0px;
background-image:url(../img/registrate.png);

		}
		
#registrate a:hover {
width:110px;
height:55px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:15px;
line-height:30px;
text-decoration:none;
color:#FFF;
text-align:center;
position:relative;
float:right;
margin:0px;
padding:0px;
background-image:url(../img/registratehover.png);

}

#comofunciona {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	width:100px;
	height:15px;
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:15px;
	padding:0px;
	color:#C6C6C6;
	
}
	
	#comofunciona a:link, #comofunciona a:visited, #comofunciona a:active {
	color:#C6C6C6;
	text-decoration:none;
	
		}
		
	#comofunciona a:hover {
	color:#FFF;
	text-decoration:none;

				}

#logo {
width:248px;
height:198px;
position:absolute;
top:0px;
left:21px;
z-index:5;
}

#blanco {
width:1020px;
height:1px;
background-color:#FFF;
position:relative;
float:left;
z-index:0;
}

#menu {
width:1024px;
height:228px;
position:relative;
float:left;
margin:0px;
padding:0px;
z-index:3;
}


#gris {
width:266px;
height:54px;
position:relative;
float:left;
margin:0px;
padding:0px;
/* GRADIENTE */
  background-color: #00336d;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#BCBCBC));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* W3C */
  background: linear-gradient(top, #F5F5F5 0%,#BCBCBC 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F5F5F5', EndColorstr='#BCBCBC');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#BCBCBC',GradientType=0);
  
 
}

#grisfinal {
width:60px;
height:54px;
position:relative;
float:left;
margin:0px;
padding:0px;
/* GRADIENTE */
  background-color: #00336d;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#BCBCBC));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* W3C */
  background: linear-gradient(top, #F5F5F5 0%,#BCBCBC 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F5F5F5', EndColorstr='#BCBCBC');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#BCBCBC',GradientType=0);
  

  
}

.filo {
width:3px;
height:54px;
position:relative;
float:left;
margin:0px;
padding:0px;
z-index:0;
display:inline-block;
  	

}

#cuadromenu {
width:755;
height:54px;
position:relative;
float:left;
margin:0px;
padding:0px;

}

.menuprincipal {
width:755px;
height:54px;
position:relative;
float:left;
margin:0px;
padding:0px;
text-decoration:none;
z-index:4;
display:block;
  	


}

.botonpeq {
	width:84px;
	height:54px;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	z-index:0;
	list-style:none;
	line-height:20px;
	display:block;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	
	

	
}

.botongrande {
	width:135px;
	height:54px;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	z-index:50;
	list-style:none;
	line-height:20px;
	
	display:block;
	
}

.menuprincipal a:link, .menuprincipal a:visited, .menuprincipal a:active {
	display:block;
	padding:0px;
	line-height:24px;
	height:54px;
	text-decoration:none;
	border:0px;
	color:#333333;
	/* transition */
       -webkit-transition: background 300ms ease-in;
       -moz-transition: background 300ms ease-in;
       -o-transition: background 300ms ease-in;
       transition: background 300ms ease-in;
	   	/* GRADIENTE */
  background-color: #BCBCBC;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#BCBCBC));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #F5F5F5, #BCBCBC);
	/* W3C */
  background: linear-gradient(top, #F5F5F5 0%,#BCBCBC 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#F5F5F5', EndColorstr='#BCBCBC');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#BCBCBC',GradientType=0);
		
}

.menuprincipal a:hover { 
	 display:block;
       padding:0px;
       text-align:center;
       font-size:14px;
       line-height:24px;
       font-style:normal;
       height:54px;
       color:#FFF;
       text-decoration:none;
	      /* GRADIENTE */
  background-color: #00336d;
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CFE3BF), to(#7AA077));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #CFE3BF, #7AA077);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #CFE3BF, #7AA077);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #CFE3BF, #7AA077);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #CFE3BF, #7AA077);
	/* W3C */
  background: linear-gradient(top, #CFE3BF 0%,#7AA077 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#CFE3BF', EndColorstr='#7AA077');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFE3BF', endColorstr='#7AA077',GradientType=0);
  
}

	   



.butcontacto {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:14px;
margin:0px;
padding:0px;
padding-top:12px;
text-align:center;
line-height:17px;
display:block;

}

.butpeq {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:14px;
margin:0px;
padding:0px;
padding-top:8px;
text-align:center;
line-height:17px;
display:block;

}

.botonesgrande {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:14px;
margin:0px;
padding:0px;
padding-top:8px;
text-align:center;
line-height:17px;
display:block;

}

.submenuempresa {
	
width:84px;
height:52px;
position:relative;
float:none;
list-style:none;
margin:0px;
padding:0px;
visibility:hidden;
background-color:576B5F;
z-index:4;
}

.botonesempresa {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11px;
list-style:none;
text-decoration:none;
text-align:center;
height:26px;
display:block;
float:none;
line-height:25px;
background-color:#06F;

}


.botonesempresa1 {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11px;
list-style:none;
text-decoration:none;
text-align:center;
height:26px;
display:block;
float:none;
line-height:25px;
background-color:#06F;

}
.submenuempresa a:link, .submenuempresa a:visited, .submenuempresa a:active {
	 display:block;
       padding:0px;
       text-align:center;
       font-size:11px;
       line-height:25px;
       font-weight:lighter;
       font-style:normal;
       height:26px;
       color:#FFF;
       text-decoration:none;
	   width:84px;
	   background-color:#576B5F;
	         /* GRADIENTE */
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#576B5F), to(#576B5F));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #576B5F, #576B5F);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #576B5F, #576B5F);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #576B5F, #576B5F);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #576B5F, #576B5F);
	/* W3C */
  background: linear-gradient(top, #576B5F 0%,#576B5F 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#576B5F', EndColorstr='#576B5F');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#576B5F', endColorstr='#576B5F',GradientType=0);
  


	
}

.submenuempresa a:hover { 
	 display:block;
       padding:0px;
       text-align:center;
       width:84px;
       font-size:11px;
       line-height:25px;
       font-weight:lighter;
       font-style:normal;
       height:26px;
       color:#FFF;
       text-decoration:none;
       background-color:#CCA529;
	   	         /* GRADIENTE */
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCA529), to(#CCA529));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #CCA529, #CCA529);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #CCA529, #CCA529);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #CCA529, #CCA529);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #CCA529, #CCA529);
	/* W3C */
  background: linear-gradient(top, #CCA529 0%,#CCA529 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#CCA529', EndColorstr='#CCA529');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCA529', endColorstr='#CCA529',GradientType=0);
	   
}


	   


#header li:hover > .submenuempresa {
visibility:visible;
width:84px;
text-align:center;
line-height:30px;
z-index:4;
opacity:1; /* Esta propiedad para chrome, firefox, opera, safary */

}

.submenuservicios {
	
width:135px;
height:174px;
position:absolute;
list-style:none;
margin:0px;
padding:0px;
visibility:hidden;
background-color:576B5F;
z-index:4;
display:block;
line-height:40px;

}

.botonservicios {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11px;
list-style:none;
text-decoration:none;
text-align:center;
height:26px;
display:block;
float:none;
background-color:#06F;
margin:0px;
padding:0px;

	

}

.botonbalance {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11px;
list-style:none;
text-decoration:none;
text-align:center;
height:44px;
display:block;
float:none;
margin:0px;



}

#balance {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11px;
list-style:none;
text-decoration:none;
text-align:center;
height:44px;
display:block;
float:none;
line-height:20px;
margin:0px;
padding-top:4px;

}

.submenuservicios a:link, .submenuservicios a:visited, .submenuservicios a:active {
	 display:block;
       padding:0px;
       text-align:center;
       font-size:11px;
      line-height:26px;
       font-weight:lighter;
       font-style:normal;
       color:#FFF;
       text-decoration:none;
	   width:135px;
	   background-color:#576B5F;
	         /* GRADIENTE */
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#576B5F), to(#576B5F));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #576B5F, #576B5F);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #576B5F, #576B5F);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #576B5F, #576B5F);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #576B5F, #576B5F);
	/* W3C */
  background: linear-gradient(top, #576B5F 0%,#576B5F 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#576B5F', EndColorstr='#576B5F');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#576B5F', endColorstr='#576B5F',GradientType=0);
  


	
}

.submenuservicios a:hover { 
	 display:block;
       padding:0px;
       text-align:center;
       width:135px;
       font-size:11px;
    line-height:26px;
       font-weight:lighter;
       font-style:normal;
       color:#FFF;
       text-decoration:none;
       background-color:#CCA529;
	   	         /* GRADIENTE */
	/* Safari 4+, Chrome 1-9 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCA529), to(#CCA529));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #CCA529, #CCA529);
	/* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #CCA529, #CCA529);
	/* IE 10+ */
  background-image: -ms-linear-gradient(top, #CCA529, #CCA529);
	/* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #CCA529, #CCA529);
	/* W3C */
  background: linear-gradient(top, #CCA529 0%,#CCA529 100%);
  /* IE7 IE8 */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#CCA529', EndColorstr='#CCA529');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCA529', endColorstr='#CCA529',GradientType=0);
	   
}

#header li:hover > .submenuservicios {
visibility:visible;
width:135px;
text-align:center;
z-index:2000;
height:174px;
opacity:1; /* Esta propiedad para chrome, firefox, opera, safary */

}
#sombra {
width:1020px;
height:6px;
background-image:url(../img/sombra.png);
background-repeat:repeat-x;
position:absolute;
top:160px;
left:0px;
z-index:3;
}

.sombraempresa {
width:84px;
height:6px;
background-image:url(../img/sombra.png);
background-repeat:repeat-x;
background-position:top;
position:absolute;
top:0px;
left:0px;
z-index:6;
display:block;
}

.sombraservicio {
width:135px;
height:6px;
background-image:url(../img/sombra.png);
background-repeat:repeat-x;
background-position:top;
position:absolute;
top:0px;
left:0px;
z-index:6;
display:block;
}

.filosubmenu {
	
width:135px;
height:1px;
background-image:url(../img/filoverde.png);
background-repeat:repeat-x;
background-position:top;
position:absolute;
z-index:6;
display:block;
	
}

.filosubmenue {
	
width:84px;
height:1px;
background-image:url(../img/filoverde.png);
background-repeat:repeat-x;
background-position:top;
position:absolute;
z-index:6;
display:block;
	
}
#cintavalores {

width:1020px;
height:30px;
background-color:#32323C;
position:absolute;
top:163px;
left:0px;
margin:0px;
padding:0px;
z-index:0;
}

#contenedorcifras {
width:auto;
height:15px;
margin-top:1px;
}

.naranja {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11px;
color:#FF9732;
font-weight:bold;
margin:0px;
padding:0px;
margin-left:40px;

}

.blanco {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFF;
font-weight:lighter;
margin-left:5px;
padding:0px;

}


.verde {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:12px;
color:#11FF2C;
font-weight:bold;
margin-left:5px;
padding:0px;


}


